* {
  background-color: #222222;
  color: #cccccc;
  font-family: "Comfortaa", sans-serif;
}

body {
  max-width: 320px;
  margin: auto;
}

#app {
  margin-top: 1rem;
  margin-left: 10px;
}

form {
  text-align: center;
}

input {
  margin-top: 1rem;
}

img {
  max-width: 300px;
}

input,
button {
  border: solid 1px #cccccc;
}
