body {
  font-family: "Roboto", sans-serif;
  background-color: #222222;
  color: #eeeeee;
}

main {
  display: flex;
  width: 100%;
}

main {
  position: relative;
  top: 50px;
}

main,
nav {
  padding-left: 100px;
  padding-right: 100px;
}


header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #222222;
}

ul {
  list-style: none;
}

nav ul,
#skills ul {
  display: flex;
  justify-content: space-between;
}

#contact ul {
    display: flex;
    gap: 20px;
}

h1,
h2,
h3,
p,
nav,
ul,
li {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 1.25rem;
}

#profile,
#contact {
    flex-grow:1;
}

aside {
  padding-left: 10px;
  padding-top: 10px;
}
img {
  border-radius: 10px;
}

a:link,
a:visited {
  color: cadetblue;
  text-decoration: none;
}

a:hover {
  color: cyan;
}

a:active {
  color: #eeeeee;
}

span {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  font-style: italic;
  font-size: 0.9rem;
}

i {
  font-size: 2rem;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #222222;
  z-index: 1;
}

#dicetray,
#button {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#dicetray {
  background-color: #333333;
  color: #eeeeee;
}

#button {
  background-color: cadetblue;
  color: #222222;
}

.mobile {
  display: none;
}
